# Starbucks Worldwide Location Project

# CRISP-DM

# A. Business Understanding

**Business Objective**: The main objective of the project is to develop a predictive model that can accurately estimate the number of Starbucks stores in a country based on a set of variables, such as GDP per capita, population, and easy of doing business. 

**Business Success Criteria**: For this project, the business success criteria have at least a 0.7 R-Squared value for the model's predictions.

---

**Dataset**: Two datasets available on Kaggle were used for Starbucks numbers in countries. The first of them belongs to 2016, the other belongs to 2021. In addition, World Bank data were used for parameters such as GPD and population of countries. World Bank data was obtained with the wbgapi library.

[Starbucks Locations Worldwide 2016](https://www.kaggle.com/datasets/starbucks/store-locations)

[Starbucks Locations Worldwide 2021](https://www.kaggle.com/datasets/kukuroo3/starbucks-locations-worldwide-2021-version)

__Important note:__ _The Starbucks data set for 2021 was used only in the data analysis part with certain assumptions. The machine learning model was made according to the data set in 2016 and the World Bank data._

---

**Technologies and Tools**:

* Programming Language:
    * Python
* Tools:
    * Jupyter Notebook
* Libraries
    * Pandas
    * Numpy
    * Scikit-learn
    * LighGBM
    * CatBoost
    * XGBoost

Since the problem we are trying to solve involves predicting a continuous outcome, I will use regression models in both classical and relatively new machine learning models. This will allow us to explore different modeling approaches and compare their performance.

List of models I used in this project as a result of my research:
* Machine Learning Models
    * Linear Regression
    * Decision Tree Regression
    * Random Forest Regression
    * Boost Methods
        * XGBoost
        * LightGBM
        * CatBoost

# B. Data Understanding

## B.1 Install Libraries

In [28]:
import numpy as np
import pandas as pd

import pycountry as pc
import pycountry_convert as pcc
import wbgapi as wb

import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import GridSearchCV, train_test_split, RepeatedKFold, KFold
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

## B.2 Collect Initial Data

### B.2.1 Starbucks Worldwide Locations

In [29]:
starbucks_location_2016 = pd.read_csv('data/starbucks_locations_2016.csv', sep= ',')
starbucks_location_2021 = pd.read_csv('data/starbucks_locations_2022.csv', sep= ',')

### B.2.2 World Bank Dataset

In [30]:
wb.source.info()

id    name                                                                  code      concepts  lastupdated
----  --------------------------------------------------------------------  ------  ----------  -------------
1     Doing Business                                                        DBS              3  2021-08-18
2     World Development Indicators                                          WDI              3  2022-12-22
3     Worldwide Governance Indicators                                       WGI              3  2022-09-23
5     Subnational Malnutrition Database                                     SNM              3  2016-03-21
6     International Debt Statistics                                         IDS              4  2022-12-06
11    Africa Development Indicators                                         ADI              3  2013-02-22
12    Education Statistics                                                  EDS              3  2020-12-20
13    Enterprise Surveys                                                    ESY              3  2022-03-25
14    Gender Statistics                                                     GDS              3  2022-06-23
15    Global Economic Monitor                                               GEM              3  2020-07-27
16    Health Nutrition and Population Statistics                            HNP              3  2022-12-23
18    IDA Results Measurement System                                        IDA              3  2021-07-23
19    Millennium Development Goals                                          MDG              3  2018-09-19
20    Quarterly Public Sector Debt                                          PSD              3  2022-11-01
22    Quarterly External Debt Statistics SDDS                               QDS              3  2022-10-31
23    Quarterly External Debt Statistics GDDS                               QDG              3  2022-10-31
25    Jobs                                                                  JOB              3  2022-06-29
27    Global Economic Prospects                                             GEP              3  2023-01-10
28    Global Financial Inclusion                                            FDX              3  2022-10-24
29    The Atlas of Social Protection: Indicators of Resilience and Equity   GSP              3  2021-12-20
30    Exporter Dynamics Database – Indicators at Country-Year Level         ED1              3  2016-03-31
31    Country Policy and Institutional Assessment                           CPI              3  2022-09-15
32    Global Financial Development                                          GFD              3  2022-09-23
33    G20 Financial Inclusion Indicators                                    G2F              3  2019-02-27
34    Global Partnership for Education                                      GPE              3  2013-04-12
35    Sustainable Energy for All                                            SE4              3  2018-06-30
36    Statistical Capacity Indicators                                       BBS              3  2021-02-03
37    LAC Equity Lab                                                        LEL              3  2016-04-06
38    Subnational Poverty                                                   SNP              3  2015-04-27
39    Health Nutrition and Population Statistics by Wealth Quintile         HNQ              3  2021-12-13
40    Population estimates and projections                                  HPP              3  2022-12-23
41    Country Partnership Strategy for India (FY2013 - 17)                  CPS              3  2015-05-22
43    Adjusted Net Savings                                                  WAT              3  2022-09-20
45    Indonesia Database for Policy and Economic Research                   IDD              3  2022-08-11
46    Sustainable Development Goals                                         SDG              3  2022-07-22
50    Subnational Population                                                SNT              3  2017-09-21
54    Joint External Debt Hub                                               JED              3  2022-08-22
57    WDI Database Archives                                                 WDA              4  2022-11-01
58    Universal Health Coverage                                             UHC              3  2019-04-25
59    Wealth Accounts                                                       WAC              3  2021-10-27
60    Economic Fitness                                                      EFT              3  2018-04-19
61    PPPs Regulatory Quality                                               PRQ              3  2019-04-25
62    International Comparison Program (ICP) 2011                           ICP              4  2020-08-24
63    Human Capital Index                                                   HCI              3  2020-09-21
64    Worldwide Bureaucracy Indicators                                      WBI              3  2022-09-20
65    Health Equity and Financial Protection Indicators                     HPI              3  2019-11-06
66    Logistics Performance Index                                           LPI              3  2019-10-29
67    PEFA 2011                                                             PF1              4  2022-11-23
68    PEFA 2016                                                             PF6              4  2023-01-12
69    Global Financial Inclusion and Consumer Protection Survey             RFA              3  2019-06-27
70    Economic Fitness 2                                                    EF2              3  2022-07-21
71    International Comparison Program (ICP) 2005                           IC5              4  2021-09-10
73    Global Financial Inclusion and Consumer Protection Survey (Internal)  RFI              3  2019-06-27
75    Environment, Social and Governance (ESG) Data                         ESG              3  2022-12-15
76    Remittance Prices Worldwide (Sending Countries)                       RWS              3  2020-12-07
77    Remittance Prices Worldwide (Receiving Countries)                     RWR              3  2020-12-07
78    ICP 2017                                                              IC7              4  2020-10-21
79    PEFA_GRPFM                                                            GRP              4  2022-12-18
80    Gender Disaggregated Labor Database (GDLD)                            GDL              4  2020-07-25
81    International Debt Statistics: DSSI                                   DSI              4  2022-12-06
82    Global Public Procurement                                             GPP              3  2021-03-24
83    Statistical Performance Indicators (SPI)                              SPI              3  2021-04-01
84    Education Policy                                                      EDP              3  2022-07-19
85    PEFA_2021_SNG                                                         SNG              4  2022-11-03
86    Global Jobs Indicators Database (JOIN)                                JON              3  2021-09-24
87    Country Climate and Development Report (CCDR)                         CCD              3  2022-10-07
88    Food Prices for Nutrition                                             FPN              4  2022-07-05
89    Identification for Development (ID4D) Data                            ID4              3  2022-12-21
      68 elements

In [31]:
wb.series.info(q='population')

In [ ]:
wb.data.DataFrame(series='SP.POP.TOTL', economy='all', time='2016')

         SP.POP.TOTL
economy
ABW         104874.0
AFE      616377331.0
AFG       34636207.0
AFW      419778384.0
AGO       29154746.0
...              ...
XKX        1777557.0
YEM       29274002.0
ZAF       56422274.0
ZMB       16767761.0
ZWE       14452704.0

[266 rows x 1 columns]

## B.3 Describe Data

In [ ]:
starbucks_location_2016.shape, starbucks_location_2021.shape

((25600, 13), (28289, 17))

In [ ]:
starbucks_location_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25600 entries, 0 to 25599
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           25600 non-null  object
 1   Store Number    25600 non-null  object
 2   Store Name      25600 non-null  object
 3   Ownership Type  25600 non-null  object
 4   Street Address  25598 non-null  object
 5   City            25585 non-null  object
 6   State/Province  25600 non-null  object
 7   Country         25600 non-null  object
 8   Postcode        24078 non-null  object
 9   Phone Number    18739 non-null  object
 10  Timezone        25600 non-null  object
 11  Longitude       25599 non-null  float64
 12  Latitude        25599 non-null  float64
dtypes: float64(2), object(11)
memory usage: 2.5+ MB

In [ ]:
starbucks_location_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28289 entries, 0 to 28288
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              28289 non-null  int64
 1   storeNumber             28289 non-null  object
 2   countryCode             28289 non-null  object
 3   ownershipTypeCode       28289 non-null  object
 4   schedule                23204 non-null  object
 5   slug                    28289 non-null  object
 6   latitude                28289 non-null  float64
 7   longitude               28289 non-null  float64
 8   streetAddressLine1      28288 non-null  object
 9   streetAddressLine2      7966 non-null   object
 10  streetAddressLine3      5136 non-null   object
 11  city                    28288 non-null  object
 12  countrySubdivisionCode  28289 non-null  object
 13  postalCode              27488 non-null  object
 14  currentTimeOffset       28289 non-null  int64
 15  windowsTimeZoneId       28289 non-null  object
 16  olsonTimeZoneId         28289 non-null  object
dtypes: float64(2), int64(2), object(13)
memory usage: 3.7+ MB

In [ ]:
# All data in starbucks_location_2021 are assumed to be brands of Starbucks
starbucks_location_2016['Brand'].value_counts()

Starbucks                25249
Teavana                    348
Evolution Fresh              2
Coffee House Holdings        1
Name: Brand, dtype: int64

### B.3.1 Check Duplicate Value

In [ ]:
starbucks_location_2016.duplicated().value_counts()

False    25600
dtype: int64

In [ ]:
starbucks_location_2021.duplicated().value_counts()

False    28289
dtype: int64

In [ ]:
starbucks_location_2016.duplicated(subset=['Store Number']).value_counts()

False    25599
True         1
dtype: int64

In [ ]:
starbucks_location_2021.duplicated(subset=['storeNumber']).value_counts()

False    28289
dtype: int64

### B.3.2 Check Empty Value

In [ ]:
# Calculate the percentage of null values in each column, and then sort the columns by the percentage of null values
starbucks_location_2016.isnull().mean().mul(100).sort_values(ascending=False).round(2)

Phone Number      26.80
Postcode           5.95
City               0.06
Street Address     0.01
Longitude          0.00
Latitude           0.00
Brand              0.00
Store Number       0.00
Store Name         0.00
Ownership Type     0.00
State/Province     0.00
Country            0.00
Timezone           0.00
dtype: float64

In [ ]:
starbucks_location_2021.isnull().mean().mul(100).sort_values(ascending=False).round(2)

streetAddressLine3        81.84
streetAddressLine2        71.84
schedule                  17.98
postalCode                 2.83
streetAddressLine1         0.00
city                       0.00
windowsTimeZoneId          0.00
currentTimeOffset          0.00
countrySubdivisionCode     0.00
Unnamed: 0                 0.00
storeNumber                0.00
longitude                  0.00
latitude                   0.00
slug                       0.00
ownershipTypeCode          0.00
countryCode                0.00
olsonTimeZoneId            0.00
dtype: float64

# C. Data Preparation

## C.1 Data Selection

Since both Stabucks location datasets are not very large, the entire dataset will be used. <br>
In addition, factors that may affect the number of Starbucks in a country were taken from the world bank database. <br>
These are 
* GDP per capital
* Population
* Urban population
* Easy of doing business parameter

In [ ]:
population = wb.data.DataFrame(series='SP.POP.TOTL', economy='all', time='2016')
population.reset_index(inplace=True)
population.rename(columns={'economy': 'Country', 'SP.POP.TOTL': 'POP'}, inplace=True)
population

    Country          POP
0       ABW     104874.0
1       AFE  616377331.0
2       AFG   34636207.0
3       AFW  419778384.0
4       AGO   29154746.0
..      ...          ...
261     XKX    1777557.0
262     YEM   29274002.0
263     ZAF   56422274.0
264     ZMB   16767761.0
265     ZWE   14452704.0

[266 rows x 2 columns]

In [ ]:
ease_of_business = wb.data.DataFrame(series='IC.BUS.DFRN.XQ', economy='all', time=2016).round(2)
ease_of_business.reset_index(inplace=True)
ease_of_business.rename(columns={'economy': 'Country', 'IC.BUS.DFRN.XQ': 'EODB'}, inplace=True)
ease_of_business

    Country   EODB
0       ABW    NaN
1       AFE  50.57
2       AFG  38.94
3       AFW  46.04
4       AGO  37.65
..      ...    ...
261     XKX  64.91
262     YEM  31.21
263     ZAF  65.41
264     ZMB  60.25
265     ZWE  47.79

[266 rows x 2 columns]

In [ ]:
gdp_pcap = wb.data.DataFrame(series='NY.GDP.PCAP.CD', economy='all', time='2016').round(2)
gdp_pcap.reset_index(inplace=True)
gdp_pcap.rename(columns={'economy': 'Country', 'NY.GDP.PCAP.CD': 'GDP PCAP'}, inplace=True)
gdp_pcap

    Country  GDP PCAP
0       ABW  28451.27
1       AFE   1432.11
2       AFG    520.25
3       AFW   1645.02
4       AGO   1709.52
..      ...       ...
261     XKX   3759.56
262     YEM   1069.82
263     ZAF   5735.07
264     ZMB   1249.92
265     ZWE   1421.79

[266 rows x 2 columns]

In [ ]:
urban_population = wb.data.DataFrame(series='SP.URB.TOTL', economy='all', time=2016)
urban_population.reset_index(inplace=True)
urban_population.rename(columns={'economy':'Country', 'SP.URB.TOTL': 'URB POP'}, inplace=True)
urban_population

    Country      URB POP
0       ABW      45297.0
1       AFE  215083329.0
2       AFG    8665979.0
3       AFW  190684610.0
4       AGO   18702478.0
..      ...          ...
261     XKX          NaN
262     YEM   10361240.0
263     ZAF   36866878.0
264     ZMB    7115902.0
265     ZWE    4667645.0

[266 rows x 2 columns]

In [ ]:
number_of_starbucks = starbucks_location_2016.groupby('Country').count()['Store Number'].sort_values(ascending=False).to_frame()
number_of_starbucks.reset_index(inplace=True)
number_of_starbucks

   Country  Store Number
0       US         13608
1       CN          2734
2       CA          1468
3       JP          1237
4       KR           993
..     ...           ...
68      CW             3
69      AW             3
70      MC             2
71      LU             2
72      AD             1

[73 rows x 2 columns]

## C.2 Data Reduction

Select a subset of the data that is relevant to the business objectives and discarding the rest.

### Starbuck Location 2016

In [ ]:
starbucks_location_2016 = starbucks_location_2016[starbucks_location_2016['Brand'] == 'Starbucks']

In [ ]:
starbucks_location_2016 = starbucks_location_2016.drop(columns=['Timezone', 'Phone Number', 'Postcode', 'Brand', 'Store Name', 'Street Address'])

### Starbucks Location 2021

In [ ]:
starbucks_location_2021 = starbucks_location_2021.drop(columns=['Unnamed: 0', 'schedule', 'postalCode', 'windowsTimeZoneId', 'currentTimeOffset','olsonTimeZoneId', 'streetAddressLine1', 'streetAddressLine2', 'streetAddressLine3', 'slug'])

## C.3 Data Transformation

Transforming of data to make it more suitable for analysis

### Starbucks Location 2016

In [ ]:
# Add continent information according to country alpha2 code
starbucks_location_2016['Continent'] = starbucks_location_2016['Country'].apply(lambda country: pcc.country_alpha2_to_continent_code(country))
starbucks_location_2016['Continent'] = starbucks_location_2016['Continent'].apply(lambda continent: pcc.convert_continent_code_to_continent_name(continent))

In [ ]:
starbucks_location_2016['Country'] = starbucks_location_2016['Country'].apply(lambda country: pc.countries.get(alpha_2=country).name)

In [ ]:
starbucks_location_2016 = starbucks_location_2016.reindex(columns=['Store Number', 'Ownership Type', 'Continent', 'Country', 'City', 'State/Province', 'Longitude', 'Latitude'])

### Starbucks Location 2021

In [ ]:
starbucks_location_2021 = starbucks_location_2021.rename(columns={'storeNumber': 'Store Number', 
                          'countryCode': 'Country', 
                          'ownershipTypeCode': 'Ownership Type',
                          'latitude': 'Latitude',
                          'longitude': 'Longitude',
                          'city': 'City',
                          'countrySubdivisionCode': 'State/Province'})

In [ ]:
starbucks_location_2021['Continent'] = starbucks_location_2021['Country'].apply(lambda country: pcc.country_alpha2_to_continent_code(country))
starbucks_location_2021['Continent'] = starbucks_location_2021['Continent'].apply(lambda continent: pcc.convert_continent_code_to_continent_name(continent))

In [ ]:
starbucks_location_2021['Country'] = starbucks_location_2021['Country'].apply(lambda country: pc.countries.get(alpha_2=country).name)

In [ ]:
starbucks_location_2021 = starbucks_location_2021.reindex(columns=['Store Number', 'Ownership Type', 'Continent', 'Country', 'City', 'State/Province', 'Longitude', 'Latitude'])

In [ ]:
starbucks_location_2021["Ownership Type"] = starbucks_location_2021["Ownership Type"].map({'LS': 'Licensed', 'CO': 'Company Owner', 'JV': 'Join Venture', 'FR': 'Franchise'})

In [ ]:
starbucks_location_2016['Status'] = starbucks_location_2016['Store Number'].isin(starbucks_location_2021['Store Number'])
starbucks_location_2016['Status'] = starbucks_location_2016['Status'].replace({True: 'Active', False: 'Closed'})

In [ ]:
starbucks_location_2021['Status'] = starbucks_location_2021['Store Number'].isin(starbucks_location_2016['Store Number'])
starbucks_location_2021['Status'] = starbucks_location_2021['Status'].replace({True: 'Active', False: 'Opened'})

## C.4 Data Cleaning

## C.5 Data Analysis

## C.6 Data Integration

# D. Modelling

# E. Evaluation